<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=yes" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content=""/>
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo.png" />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <title>Kiwi-travel</title>
</head>

<div id="index"></div>
<script src="built/index.bundle.js"></script>
</html>
