<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" href="built/public/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=yes"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content=""/>
    <meta name="author" content="Bohdan Skrypnyk (bohdan.skrypnyk@yahoo.com)"/>
    <link rel="apple-touch-icon" href="built/public/logo2.png"/>
    <link rel="manifest" href="built/public/manifest.json"/>
    <title>Kiwi-travel</title>
</head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179133061-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-179133061-1');

</script>
<div id="index"></div>
<script src="built/main/index.bundle.js"></script>
</html>
