<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="built/public/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=yes" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content=""/>
    <meta name="author" content="Bohdan Skrypnyk (bohdan.skrypnyk@yahoo.com)"/>
    <link rel="apple-touch-icon" href="built/public/logo2.png" />
    <link rel="manifest" href="built/public/manifest.json" />
    <title>Kiwi-travel</title>
</head>

<div id="login"></div>

</html>
